MONGO_URI=mongodb+srv://nhat:123@cluster0.ajpeazo.mongodb.net/CodeGym?retryWrites=true&w=majority&appName=Cluster0

# JWT Secrets
JWT_SECRET=dev_access_secret_8f1a3b2c733a4c8e9d2a2a5a
JWT_REFRESH_SECRET=dev_refresh_secret_1c5b7e4d995f4a64a7d4b6d7

# Keycloak verify token từ FE)
KEYCLOAK_JWKS_URI=https://id.dev.codegym.vn/auth/realms/codegym-software-nhom-6/protocol/openid-connect/certs

# Keycloak Admin (cho server-side operations)
KEYCLOAK_BASE_URL=https://id.dev.codegym.vn/auth
KEYCLOAK_REALM=codegym-software-nhom-6
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password

# CORS
CORS_ORIGIN=http://localhost:3000
PORT=3005
NODE_ENV=development
